
@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="main.css">
	<title>Edit Innovation</title>
</head>

<body>
	<!-- deze knop gaat naar de dashboard pagina -->
	<header>
		<nav class="navbar">
			<a href="./Admin/AdminDashboardMain">Main</a>
		</nav>
	</header>

	<!--start edit-->
	<section class="order" id="order" style="padding-top: 80px">
		<div class="section-header">
			<h3 class="sub-heading">Voeg innovatie toe</h3>
			<h1 class="heading">
				NIEUWE INNOVATIE TOEVOEGEN
			</h1>
		</div>
		<form action="" class="order">
			<div class="input-box">
				<div class="input">
					<label for="name">Hoe heet het product?</label>
					<input type="text" name="name" id="name">
				</div>
			</div>
			<div class="input-box">
				<div class="input">
					<label for="description">Meer details over het project toevoegen?</label>
					<textarea name="description" id="description" cols="30" rows="10"></textarea>
				</div>
			</div>
			<div class="input-box">
				<div class="input">
					<label for="pricePerPiece">
						Hoeveel kost het product per stuk? (inclusief btw/bezorgkosten/overige
						kosten)
					</label>
					<input type="number" name="pricePerPiece" id="pricePerPiece" min="0">
				</div>
				<div class="input">
					<label for="productsNumbers">Aantal producten?</label>
					<input type="number" name="productsNumbers" id="productsNumbers" min="0">
				</div>
			</div>
			<div class="input-box">
				<div class="input">
					<label for="deployCost">Implementeringskosten?</label>
					<input type="number" name="deployCost" id="deployCost" min="0">
				</div>
				<div class="input">
					<label for="avrPeopleCostMonthly">Gemiddelede personeelskosten per maand?</label>
					<input type="number" name="avrPeopleCostMonthly" id="avrPeopleCostMonthly" min="0">
				</div>
			</div>
			<div class="input-box">
				<div class="input">
					<label for="avrHourWorkMonthly">Gemiddelde arbeidsuren per maand?</label>
					<input type="number" name="avrHourWorkMonthly" id="avrHourWorkMonthly" min="0">
				</div>
				<div class="input">
					<label for="currentTimeCostMonthly">Huidige tijdskosten voor dit probleem per maand?</label>
					<input type="number" name="currentTimeCostMonthly" id="currentTimeCostMonthly" min="0">
				</div>
				<div class="input">
					<label for="currentMoneyCostMonthly">Huidige financiële kosten voor dit probleem per maand?</label>
					<input type="number" name="currentMoneyCostMonthly" id="currentMoneyCostMonthly" min="0">
				</div>
				<div class="input">
					<label for="
					">Implementeringstijd in uren?</label>
					<input type="number" name="deployTimePerHours" id="deployTimePerHours" min="0">
				</div>


			</div>

			<input type="submit" value="Opslaan" class="btn">
		</form>
	</section>
	<!--end edit-->

</body>

</html>