
@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="main.css">
	<title>Edit Innovation</title>
</head>

<body>
	<!-- deze knop gaat naar de dashboard pagina -->
	<header>
		<nav class="navbar">
			<a href="../Admin/AdminDashboardMain">Terug</a>
		</nav>
	</header>

	<!--start edit-->
	<section class="order" id="order" style="padding-top: 80px">
		<div class="section-header">
			<h1 style="margin-top: 50px" class="heading">
				Voeg hier een nieuwe innovatie toe
			</h1>
		</div>
			<form class="normal-container" action="../Admin/SaveItem" method="post">
			<div class="input-box">
				<div class="input">
					<label for="name">Hoe heet het product?</label>
					<input type="text" name="name" id="name" required="">
				</div>
			</div>
			<div class="input-box">
				<div class="input">
					<label for="description">Meer details over het project toevoegen?</label>
					<textarea name="description" id="description" cols="30" rows="10"></textarea>
				</div>
			</div>
			<div class="input-box">
				<div class="input">
					<label for="price">
						Wat zijn de geschatte totale inkoopkosten voor dit product op jaarbasis? (inclusief btw/bezorgkosten/overige
						kosten)
					</label>
					<input type="number" name="price" id="pricePerPiece" min="0" required="">
				</div>
		
			</div>
			<div class="input-box">
				<div class="input">
					<label for="implementCosts">Wat zijn de implementeringskosten?</label>
					<input type="number" name="implementCosts" id="implementCosts" min="0" required="">
				</div>
				<div class="input">
					<label for="personelSavings">Wat zijn de personeelsbesparingen in euros?</label>
					<input type="number" name="personelSavings" id="personelSavings" min="0" required="">
				</div>
			</div>
			<div class="input-box">
				<div class="input">
					<label for="hoursSavings">Wat zijn de personeelsbesparingen in uren?</label>
					<input type="number" name="hoursSavings" id="hoursSavings" min="0" required="">
				</div>
				<div class="input">
					<label for="implementHours">Wat zijn de implementeringskosten in aantal uren?</label>
					<input type="number" name="implementHours" id="implementHours" min="0" required="">
				</div>
			</div>

			<div class="input-box">
				<div class="input">
					<label for="socialCosts">Wat zijn de maatschappelijke kosten? (Dit is om het SROI cijfer te berekenen)</label>
					<input type="number" name="socialCosts" id="socialCosts" min="0" required="">
				</div>
				<div class="input">
					<label for="socialBenefits">Wat zijn de maatschappelijke opbrengsten? (Dit is om het SROI cijfer te berekenen)</label>
					<input type="number" name="socialBenefits" id="socialBenefits" min="0" required="">
				</div>
			</div>
			

			<input style="margin-top: 50px" type="submit" value="Opslaan" class="btn">
		</form>
	</section>
	<!--end edit-->

</body>

</html>