
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<!DOCTYPE html>
<html lang="nl">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>Dashboard</title>
 


</head>

<body>
 
    <div class="circle-num">

        <form>
            <button class="btn1">1</button>
        </form>
    
       <form>
            <button class="btn2">2</button>
       </form>

        <form>
            <button class="btn2">3</button>
        </form>
    </div>

        <a href="details.html">
            <div class="f-box">
                Heupairbag
            </div>
        </a>

    <div class="s-box">
        Dwaaldetectie
     </div>

     <div class="t-box">
        Zorgrobot
     </div>


     <div class="buttons">

        <form action="../Admin/CreateInnovMain" method="post">
             <button class="btn3">voeg innovatie toe</button>
            <input type="submit" value="LOGIN">
        </form>

        <form action="../index.html">
            <button class="btn4">log uit</button>
        </form>

    </div>


</body>

</html>