
@{
	ViewData["Title"] = "Login";
	Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Log in</title>
</head>

<body> 
		
		<!--Inloggen gedeelte door gegevens in te voeren-->
	<div class="form-container sign-in-container">
		    <!--Logo afbeelding -->
			<img src="~/images/centric-logo.png" alt="logo" />   <br /> <br />
		<form class="normal-container" action="/Account/Verify" method="post">
				
			<h1 style="margin-top: 10px">Log in</h1>
				
			<h>Vul uw gegevens hier in</h>

			<div class="inputs">
				<input type="text" name="username" placeholder="Gebruikersnaam" required=""/>
				<input type="password" id="password" name="password" placeholder="Wachtwoord" required=""/>
			</div>
			<div>
					
				<div class="agile_label" style="display:flex">
					<label class="check" for="check3">Toon wachtwoord</label>
					<input style="width:75px" id="check3" name="check3" type="checkbox" value="show password" onclick="myFunction()">
				</div>
			</div>
			<br>
			<!-- script for show password -->
			<script>
				function myFunction() {
					var x = document.getElementById("password");
					if (x.type === "password") {
						x.type = "text";
						console.log(x);
					} else {
						x.type = "password";
						console.log(x);
					}
				}
			</script>
			<!-- //end script -->
			<button type="submit">Log in</button>
		</form>
		<form class="bottom-button-container" action="./Account/Register">
			<div class="goto">
				<h>Als u nog geen account heeft, druk dan hieronder</h>
				<br />
				<button id="signUp">Registreren</button>
			</div>

		</form>
	</div>

</body>

</html>