
@{
	ViewData["Title"] = "Register";
	Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Aanmelden</title>
</head>

<body>
	<div class="form-container sign-up-container">
		<form class="normal-container" action="./RegisterAcc" method="post">
			<br>
			<h1>Registreren</h1>
			<br>
			<h4>Vul hier uw gegevens in voor de registratie. Heeft u al een account? Druk dan op "Ga naar log in".</h4>
			<br>
			<div class="inputs" >
@*					<input type="text" placeholder="Voornaam" name="firstname" required />
				<input type="text" placeholder="Achternaam" name="lastname" required />*@
				<input type="text" placeholder="Flag" name="flag" value="false" hidden />
				<input type="text" placeholder="Gebruikersnaam" name="username" required />
				<input type="password" placeholder="Wachtwoord" id="password" name="password" required />
				<input type="password" placeholder="Bevestig uw wachtwoord" id="confirm_password" name="password" required="" />
				<span id='message'></span>
			</div>
			<button type="submit">Aanmelden</button>
		</form>

		<form class="bottom-button-container" action="/">
			<div class="goto" >
				<button class="ghost" id="signIn">Ga naar Log in</button>
			</div>
		</form>
	</div>
</body>

</html>