
@{
	ViewData["Title"] = "Register";
	Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Aanmelden</title>
</head>

<body>
	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<form action="./RegisterAcc" method="post">
				<h1>Maak een account</h1>
				<span> Gebruik uw e-mailadres voor registratie</span>
				<div class="inputs">
					<input type="text" placeholder="Voornaam" name="firstname" required />
					<input type="text" placeholder="Achternaam" name="lastname" required />
					<input type="text" placeholder="Flag" name="flag" value="false" hidden />
					<input type="text" placeholder="Username" name="username" required />
					<input type="password" placeholder="Wachtwoord" id="password" name="password" required />
					<input type="password" placeholder="Bevestig uw wachtwoord" id="confirm_password" name="password"
						   required />
					<span id='message'></span>
				</div>
				<button type="submit">Aanmelden</button>
			</form>
			<form action="/">
				<div class="goto">
					<h4>Als u een account heeft, ga dan naar het Log in pagina</h4>
					<button class="ghost" id="signIn">Ga naar Log in</button>
				</div>
			</form>
		</div>
	</div>

</body>

</html>