
body {
	background-image: url(blue-curve-backgroun.webp);
	font-size: 1.6rem;
	font-family: "Open Sans", sans-serif;
	color: #2b3e51;
}

h1 {
	font-weight: 300;
	text-align: center;
}

p {
	position: relative;
}

a,
a:link,
a:visited,
a:active {
	color: #084924;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

	a:focus, a:hover,
	a:link:focus,
	a:link:hover,
	a:visited:focus,
	a:visited:hover,
	a:active:focus,
	a:active:hover {
		color: #134d6c;
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}

#inloggen_vorm {
	background-color: #fff;
	width: 35%;
	margin: 30px auto;
	text-align: center;
	padding: 20px 0 0 0;
	border-radius: 4px;
	box-shadow: 0px 25px 40px 0px rgba(0, 0, 0, 0.2);
}

#login {
	padding: 0 60px;
}

input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	outline: none;
	height: 60px;
	line-height: 60px;
	border-radius: 4px;
}

	input[type="text"],
	input[type="email"] {
		width: 300px;
		padding: 0 0 0 15px;
		margin: 0;
		color: #8a8b8e;
		background-color: white;
		border: 1px solid #000000;
		font-style: normal;
		font-size: 18px;
		position: relative;
		display: inline-block;
		background: none;
	}

		input[type="text"]:focus,
		input[type="email"]:focus {
			border-color: #3ca9e2;
			background-color: white;
		}

			input[type="text"]:focus:invalid,
			input[type="email"]:focus:invalid {
				color: #cc1e2b;
				background-color: white;
				border-color: #cc1e2b;
			}

		input[type="text"]:valid ~ .validation,
		input[type="email"]:valid ~ .validation {
			display: block;
			border-color: #0C0;
			background-color: white;
		}

			input[type="text"]:valid ~ .validation span,
			input[type="email"]:valid ~ .validation span {
				background: #0C0;
				background-color: white;
				position: absolute;
				border-radius: 6px;
			}

				input[type="text"]:valid ~ .validation span:first-child,
				input[type="email"]:valid ~ .validation span:first-child {
					background-color: white;
					top: 30px;
					left: 14px;
					width: 20px;
					height: 3px;
				}

				input[type="text"]:valid ~ .validation span:last-child,
				input[type="email"]:valid ~ .validation span:last-child {
					background-color: white;
					top: 35px;
					left: 8px;
					width: 11px;
					height: 3px;
				}

.validatie {
	position: absolute;
	content: " ";
	display: none;
	height: 60px;
	width: 30px;
	right: 15px;
	top: 0px;
}

input[type="submit"] {
	border: none;
	display: block;
	background-color: #3ca9e2;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	font-size: 18px;
	display: inline-block;
	cursor: pointer;
	text-align: center;
}

	input[type="submit"]:hover {
		background-color: #329dd5;
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}

#account_aanmaken {
	background-color: #eeedf1;
	color: #8a8b8e;
	font-size: 14px;
	width: 100%;
	padding: 10px 0;
	border-radius: 0 0 4px 4px;
}

#f12 {
	display: inline-block;
}

/* first login uttons A and G and the numbers */

.btn1 {
	display: inline-block;
	margin-left: 1430px;
	font-size: 20px;
	background-color: white;
	border: none;
	border-radius: 200px;
	color: rgb(48, 48, 48);
	width: 80px;
	font-size: 30px;
	height: 80px
}

.btn2 {
	margin-top: 25px;
	margin-left: 1430px;
	font-size: 20px;
	background-color: white;
	border: none;
	border-radius: 200px;
	color: rgb(48, 48, 48);
	font-size: 30px;
	width: 80px;
	height: 80px
}
/* first login uttons A and G  and the numbers*/


/* Admin panel */

.circle-a {
	position: absolute;
	margin-top: -100px;
}

.circle-num {
	margin-left: -1270px;
	margin-top: 150px;
}

.f-box {
	position: absolute;
	margin-top: -249px;
	margin-left: 300px;
	border: 1px solid grey;
	transform: translate(0, -50%);
	width: 230px;
	padding-top: 10px;
	height: 40px;
	background-color: white;
}


.s-box {
	position: absolute;
	margin-top: -145px;
	margin-left: 300px;
	border: 1px solid grey;
	transform: translate(0, -50%);
	width: 230px;
	padding-top: 10px;
	height: 40px;
	background-color: white;
}

.t-box {
	margin-top: -40px;
	margin-left: 300px;
	border: 1px solid grey;
	transform: translate(0, -50%);
	width: 230px;
	padding-top: 10px;
	height: 40px;
	background-color: white;
}

.btn3 {
	border: none;
	display: block;
	background-color: #3ca9e2;
	color: #fff;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	font-size: 22px;
	cursor: pointer;
	text-align: center;
	height: 45px;
	width: 220px;
	margin-top: -100px;
}

.btn4 {
	border: none;
	background-color: #3ca9e2;
	color: #fff;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	font-size: 22px;
	cursor: pointer;
	text-align: center;
	height: 45px;
	width: 220px;
	margin-left: 1400px;
	margin-top: -2100px;
}

.buttons {
	margin-top: 360px;
}


.btn5 {
	border: none;
	display: block;
	background-color: #3ca9e2;
	color: #fff;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	font-size: 22px;
	position: relative;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	height: 35px;
	width: 130px;
	margin-left: 40px;
	margin-top: 20px;
}


h2 {
	color: black;
	font-weight: normal;
	font-size: 25px;
}

.txt-box {
	border: 1px solid black;
	background-color: white;
	height: 55px;
	width: 300px;
	font-size: 18px;
}

input[type="email2"] {
	background-color: white;
	width: 300px;
	border: 1px solid black;
	margin: 0;
	color: rgb(0, 0, 0);
	font-style: normal;
	font-size: 18px;
	position: relative;
	display: inline-block;
	background: none;
}

.txt-box5 {
	border: 1px solid black;
	background-color: white;
	height: 55px;
	width: 300px;
	font-size: 18px;
}

.txt-box6 {
	border: 1px solid black;
	background-color: white;
	height: 55px;
	width: 300px;
	font-size: 18px;
}

#pass {
	position: absolute;
	margin-top: -613px;
	margin-left: 800px;
}

#confirmpass {
	position: absolute;
	margin-top: -453px;
	margin-left: 800px;
}

.form-container {
	position: relative;
	margin-left: 200px;
	margin-top: 70px;
}

.btn6 {
	position: absolute;
	border: none;
	display: block;
	background-color: #3ca9e2;
	color: #fff;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	font-size: 22px;
	position: relative;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	height: 55px;
	width: 170px;
	margin-left: 610px;
	margin-top: -940px;
}


.btn7 {
	position: absolute;
	border: none;
	display: block;
	background-color: #3ca9e2;
	color: #fff;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	font-size: 22px;
	position: relative;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	height: 80px;
	width: 170px;
	margin-left: 610px;
	margin-top: -940px;
}


.inventory-form {
	margin-left: 500px;
}


.detail-data {
	padding: 18px;
	border: 1px solid black;
	width: 600px;
	height: 350px;
	margin-top: 70px;
	margin-left: 40px;
}

.sphere {
	margin-top: -440px;
	margin-left: 1300px;
	border: 2px solid black;
	border-radius: 1600px;
	width: 250px;
	height: 190px;
	background-color: white;
}

.s-text {
	padding-top: 53px;
	padding-left: 39px;
}


.box-1 {
	padding-left: 5px;
	padding-bottom: 90px;
	margin-top: 100px;
	margin-left: 1300px;
	border: 2px solid black;
	border-radius: 1px;
	width: 230px;
	height: 30px;
	background-color: white;
}

.box-2 {
	padding-left: 5px;
	padding-bottom: 90px;
	margin-top: 10px;
	margin-left: 1300px;
	border: 2px solid black;
	border-radius: 1px;
	width: 230px;
	height: 30px;
	background-color: white;
}


.btn8 {
	border: none;
	display: block;
	background-color: #3ca9e2;
	color: #fff;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	font-size: 22px;
	position: relative;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	height: 55px;
	width: 170px;
}

.btn9 {
	border: none;
	background-color: #3ca9e2;
	color: #fff;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	font-size: 22px;
	position: relative;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	height: 55px;
	width: 170px;
	margin-left: 20px;
}

.btn-flex {
	margin-left: 1200px;
	margin-top: 90px;
	display: flex;
}

#link {
	text-decoration: none;
}

/* .cost-info {

  } */

.financien {
	margin-left: 0px;
	margin-bottom: 10px;
	background-color: white;
	border: 1px solid grey;
	width: 600px;
	height: 600px;
}


.f-text {
	text-align: center;
}

.f-circle-1 {
	text-align: center;
	border: 1px solid grey;
	border-radius: 60px;
	width: 55px;
	height: 40px;
	padding-top: 15px;
	margin-left: 8px;
}

.c-text-1 {
	font-weight: 300;
	margin-top: -40px;
	margin-left: 80px;
}


.f-circle-2 {
	margin-top: -350px;
	text-align: center;
	border: 1px solid grey;
	border-radius: 60px;
	width: 55px;
	height: 40px;
	padding-top: 15px;
	margin-left: 8px;
}

.c-text-2 {
	display: b;
	font-weight: 300;
	margin-top: -40px;
	margin-left: 80px;
}

.btn10 {
	border: none;
	background-color: #3ca9e2;
	color: #fff;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	font-size: 22px;
	position: relative;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	height: 45px;
	width: 130px;
	margin-left: 410px;
	margin-top: 155px;
	font-size: 30px;
}


.tijd {
	margin-top: -600px;
	margin-left: 1000px;
	background-color: white;
	border: 1px solid grey;
	width: 600px;
	height: 600px;
}

.f-text {
	text-align: center;
}

.f-circle-1 {
	text-align: center;
	border: 1px solid grey;
	border-radius: 60px;
	width: 55px;
	height: 40px;
	padding-top: 15px;
	margin-left: 8px;
}

.c-text-1 {
	font-weight: 300;
	margin-top: -40px;
	margin-left: 80px;
}


.f-circle-3 {
	margin-top: 95px;
	text-align: center;
	border: 1px solid grey;
	border-radius: 60px;
	width: 55px;
	height: 40px;
	padding-top: 15px;
	margin-left: 8px;
}

.c-text-2 {
	display: b;
	font-weight: 300;
	margin-top: -40px;
	margin-left: 80px;
}

.btn11 {
	border: none;
	background-color: #3ca9e2;
	color: #fff;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	font-size: 22px;
	position: relative;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	height: 45px;
	width: 130px;
	margin-left: 410px;
	margin-top: 320px;
	font-size: 30px;
}

h2 {
	margin-top: -20px;
	text-align: center;
	font-size: 70px;
}

.circle-a {
	margin-top: 1px;
}
