@*@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Silvijn, Ahmed and Ramazan</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./style.css">

</head>

<body>
    <div id="inloggen_vorm">
        <h1>Log in</h1>
        <form id="login">
            <p>
                <input type="email" id="email" name="email" placeholder="Voer uw e-mail adres in" required><i class="validatie"><span></span><span></span></i>
            </p>
            <p>
                <input type="password" id="email" name="email" placeholder="Voer uw wachtwoord in" required><i class="validatie"><span></span><span></span></i>
            </p>
            <p>
                <input type="submit" id="Knoop" value="Log in">
            </p>
        </form>
        <!--account_aanmaken-->
        <div id="account_aanmaken">
            <p>Heeft u geen account, druk dan op de knop hironder<p>
                <input type="submit" id="Knoop" value="Registeren">
        </div>
        <!--account_aanmaken-->
    </div>
    <!--login-->

</body>

</html>
